@import '@/app/globals.module.scss';

.card {
  position: absolute;
  // top: 6rem;
  border-radius: 1rem;
  width: 18rem;
  height: 30rem;
  border: solid 1px;
  color: $black;
}

.content {
  margin: 2rem 3rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3.5vw;
}
