@import '@/app/globals.module.scss';

.card {
  position: fixed;
  top: 6rem;
  border-radius: 1rem;
  width: 18rem;
  height: 30rem;
  border: solid 1px;
  color: $black;
}

.title {
  font-size: 3.5vw;
}
