@import '@/app/globals.module.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  
}
.buttonRow {
  display: flex; 
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 100px;
}


.center {
  position: relative;
  width: 18rem;
  height: 30rem;
  list-style-type: none;
  padding: 0;
  
  li {
    &:nth-child(even) {
      background-color: $dark;
      border-color: $medium;
    }
  
    &:nth-child(odd) {
      background-color: $light;
      border-color: $medium;
    }
  }
}

.base {
  height: 30rem;
}

.text {
  width: 450px;
  text-align: center;
}