@import "./src/app/globals.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  
}
.buttonRow {
  display: flex; 
  justify-content: center;
  column-gap: 10px;
}

